<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/kube/6.5.2/css/kube.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <title>Tag List</title>
</head>
<body>
<nav id="tabs" class="tabs" data-component="tabs">
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    

    <div id='slide'>
    <div class="row align-center">
        <div class="col col-6">
        <fieldset>
        {% block content %}{% endblock %}
        </fieldset>
        </div>
    </div>
    </div>
    
    
 </body>
</html>