{% extends 'base.html' %}

{% block content %}

{% if last_tag %}

{% for res in last_tag %}
{{res}}
{% endfor %}

{% else %}

<legend>Post List:</legend> 

<nav class="tabs" data-component="tabs" data-equals="true">
        <ul>
            <li><a href="#tab1">List</a></li>
            <li class="active"><a href="#tab2">Markdown</a></li>
        </ul>
    </nav>
<div id="tab1">

<table class="bordered striped">
    <tr> <td>ID</td> <td>Post ID</td> <td>Author</td> <td>Title</td> <td>Date</td></tr>

    {% for res in result %}
    <tr>
    <td>{{loop.index}}</td>
    <td>{{res.post_id}}</td>
    <td>@{{res.author}}</td>
    <td><a href="http://steemit.com{{res.url}}"> {{res.title}} </a> </td>
    <td>{{res.date.strftime('%Y-%m-%d %H:%M')}}</td>

    </tr>
    {% endfor %}
</table>
</div>
<div id="tab2">
<textarea  rows="12" cols="100">
ID | Post ID | Author | Tittle | Date
---|---|---|---|---|
    {% for res in result -%}
{{loop.index}} | {{res.post_id}} | @{{res.author}} | [{{res.title|replace('|','')}}](http://steemit.com{{res.url}}) | {{res.date.strftime('%Y-%m-%d %H:%M')}}
    {% endfor %}
</textarea>
</div>

{% endif %}
{% endblock %}